{% extends "vms/base.html" %}

{% load i18n %}

{% block content %}
<div  class="medium">

<h1>History</h1>
<hr>
<p>Systers has many volunteers and potential volunteers that offer their skills, time and commitment to our vision. This Volunteer Management System will be particularly useful for volunteer coordinators, volunteer sign-up, tracking hours, and reporting.</p>

<h3>Features</h3>
<p>The scope of the VMS is defined in phases with the initial implementation to track volunteers contact information, track hours, and reporting. There are also different user scenarios that must be addressed: 1. administrator 2. user/volunteer 3. reporting.

The project is under active development now. <a href="http://systers.org/systers-dev/doku.php/valeria_bogdanova">Current developer.</a>

<ul>
	<li><a href="https://docs.google.com/document/d/1wIHGmqTbufyGW9nKYt3vV-zZhdJEPfdxaOjegQ9qKEk/edit">
		Completed features during GSoC 2014</a></li>
    <li><a href="https://docs.google.com/document/d/13GVI5yGsx4Aj1L0UYawPRo5ViyB7o-0v_UyMWyrOZMY/edit">
    	Task list for GSoC 2015</a></li>
    <li><a href="https://docs.google.com/document/d/1bzKjyxWIXeqW45UjhsbM4wtlyNagiyueZTqxhtmD_A0/edit">
    	Timeline for GSoC 2015</a></li>
    <li><a href="http://systers-opensource.blogspot.com/2016/08/amrutha-s-vms-final-report-gsoc16.html?q=VMS">
    	Migrating VMS to class based views and search engine implementation</a></li>
    <li><a href="http://systers-opensource.blogspot.com/2016/08/vatsala-swaroop-aut-vms-final-report.html?q=vms">
    	Automated testing - VMS</a></li>
</ul>

</div>

{% endblock %}
